:root
{
    --c-blue1: rgba(0, 23, 153, 1);
    /* --c-blue1: #222684; */
    --c-yellow1: rgba(255, 181, 52, 1);
    --c-yellow2: rgb(222, 158, 47);
    --c-white1: rgba(255, 254, 254, 1);
    --c-gray1: rgba(241, 241, 241, 1);
    --c-gray2: rgb(211, 211, 211);
    --c-cian1: rgba(192, 197, 230, 1);

    --c-lavender1: #6466A8;
    --c-pink2: #F1DDD9;
    --c-red2: #E6C2BF;
    --c-purple3: #9266CC;
    --c-violet3: #8E44AD;
    --c-neutral: #080A45;
}

*
{
    margin: 0;
    padding: 0;    
}

body
{
    /* display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto); */
    font-family: 'Poppins';
    background-color: var(--c-gray1);
}

header
{   
    height: 14vh;
    /* grid-column: 1 / 13; */
    background-color: var(--c-blue1);        
    & .NavBar
    {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);                        
        
        & .LogoContainer
        {   
            display: flex;
            align-items: center;                                
            grid-column: 1 / 3;            
        }   
        & .SearchBarContainer
        {   
            display: flex;
            align-items: center;
            width: 31vw;
            padding: 0.9vw;
            grid-column: 3 / 5;
            & .SearchBar
            {                                          
                border-radius: 5px;
                border-style: unset;                
                outline: none;
                height: 6vh;
                width: 31vw;                                                
            }
        }
        & .ShoppingCartContainer
        {
            display: flex;
            align-items: center;            
            grid-column: 12 / 13;
            & .ShoppingCartIconContainer
            {
                display: flex;
                justify-content: center;
                align-items: center;                
                & i {
                    color: white;
                    transition: 0.25s;

                    &:hover
                    {
                        color: var(--c-neutral);                        
                    }
                }                
            }
        }
    }
}

main
{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
    & .FilterSection
    {
        display: flex;
        flex-direction: column;
            
        grid-row: 2 / 5;
        grid-column: 1 / 3;
        & .FilterContainer
        {
            border-radius: 10px;
            margin-top: 5vh;
            margin-left: 0.7vw;
            margin-right: 0.7vw;
            border: 0.25px solid rgb(191, 191, 191);                        
            & .FilterContainerHeader
            {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 8vh;
            }
            & .FilterButtons
            {
                & .FilterButtonContainer
                {                    
                    margin: 15px 10px;
                    & .FilterButton
                    {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50px;                        
                        width: 13vw;
                        height: 7vh;
                        border: 0.25px solid rgb(191, 191, 191);
                        cursor: pointer;
                        transition: 0.25s;
                        & .CircleButton
                        {
                            border-radius: 50px;
                            border: 0.25px solid rgb(191, 191, 191);
                            margin-right: 5px;                            
                            width: 10px;
                            height: 10px;
                            transition: 0.25s;
                        }
                        & .CategoryNameContainer
                        {
                            width: 10vw;
                        }
                        &:hover
                        {
                            background-color: var(--c-gray2);                            
                        }
                        &:active
                        {
                            & .CircleButton
                            {
                                background-color: var(--c-yellow1);
                                border: 0.25px solid var(--c-blue1);
                            }
                        }
                    }
                }
            }
        }
    }
    & .ItemSection
    {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, auto);
        column-gap: 5vw;
        row-gap: 5vh;
        padding: 5vh;    

        background-color: var(--c-gray1);
        grid-row: 2 / 5;
        grid-column: 3 / 13;
        
        & .ItemCard
        {
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            /* background-color: rgb(192, 192, 192); */
            height: 65vh;
            width: 16vw;
            border: 0.25px solid var(--c-cian1);
            overflow: hidden;
            cursor: pointer;
        
            transition: 0.25s;    
            & .ImageContainer
            {
                display: flex;
                flex-direction: column;                      
                & img 
                {            
                    height: 40vh;
                    width: auto; 
                    border-top-left-radius: 10px;   
                    border-top-right-radius: 10px;
                }
            }
            & .ContentResultContainer
            {
                display: flex;
                flex-direction: column;
                background-color: var(--c-white1);
                height: 30vh;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                & .NameContainer
                {
                    width: 14vw;
                    height: 5vh;
                    padding: 20px;
                    text-overflow: ellipsis;            
                }
                & .PriceAndCartContainer
                {
                    display: flex;
                    justify-content: space-between;
                    /* justify-content: space-around; */
                    & .PriceContainer
                    {
                        padding-left: 20px;
                        padding-top: 10px;
                        & p 
                        {                
                            font-size: 1.5rem;
                        }            
                    }
                    & .ShoppingCartIconContainer
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 2.5px;
                        margin-right: 15px;
                        border-radius: 50px;
                        width: 44px;
                        height: 44px;
                        background-color: var(--c-yellow1);  
                        border: none;
                        cursor: pointer;
                        & i 
                        {
                            color: white;
                            transition: 0.25s;                              
                        }
                        &:hover
                        {
                            background-color: var(--c-yellow2);
                            & i
                            {
                                color: var(--c-neutral);                                
                            }
                        }
                        &:active
                        {
                            background-color: var(--c-blue1);                            
                            & i
                            {                                
                                color: var(--c-white1);
                            }
                        }
                    }            
                }
            }
            &:hover{
                box-shadow: 0px 2px 5px var(--c-cian1);
                /* transform: scale(1.15); */
            }
        }
    }
}
.PageToggle
{
    grid-column: 1 / 5;
    height: 10vh;
}
footer
{
    background-color: black;
    height: 20vh;
    grid-column: 1 / 13;
}
